<div class="centered-content">
  <div class="modal-box">
    <h1 class="title has-text-primary">
      Task View
    </h1>
    <label class="label" for="title">Title</label>
    <input #taskTitleInput class="input has-background-light is-medium" name="title" type="text" value={{taskTitle}} readonly>
    <br /><br />
    <label class="label" for="desc">Description</label>
    <textarea #taskDescTxtarea class="textarea has-background-light is-medium" name="desc" type="text" placeholder="Enter task description ..." value={{taskDesc}} readonly></textarea>
    <br /><br />
    <label class="label" for="assigned">Email</label>
    <input type="text" value={{user.email}}>
    <br /><br />
    <label class="label" for="date">Date</label>
    <input type="date" name="date" class="input has-background-light is-medium" value={{taskDate}} readonly>
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Back</button>
    </div>
  </div>
</div>
