<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Task
    </h1>
    <label class="label" for="title">{{ taskTitle }}</label>
    <br /><br />
    <label class="label" for="desc">{{ taskDesc }}</label>
    <br /><br />
    <label class="label" for="assigned">{{ user.email }}</label>
    <br /><br />
    <label class="label" for="date">{{ taskDate }}</label>
    <br /><br />
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Back</button>
    </div>
  </div>
</div>
