<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white"></div>
    <div class="task-list-container has-background-light">
      <h1 class="title has-text-primary">
        Tasks
      </h1>
      <div class="task" *ngFor="let task of tasks" (click)="onTaskCliked(task)" [ngClass]="{ 'completed': task.completed }">
        <div class="task-text">
          <p>{{ task.title }}</p>
        </div>
        <div class="task-buttons">

          <button class="button" [routerLink]="['/tasks', 'edittask', task._id]">
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
          </button>

          <button class="button is-danger" (click)="onButtonDeleteClicked(task._id)" style="margin-left: 10px;">
            <div class="icon">
              <i class="fas fa-trash"></i>
            </div>
          </button>

        </div>
      </div>
      <button
        routerLink="./newtask"
        class="circle-add-button button is-primary"
      >
        +
      </button>
    </div>
  </div>
</div>
